<!--BLOGPOST INDEX-->
<% include ../partials/header %>

<section class="blogpostindexpage">
    <div class="blogpostindexintro greybackground">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h1>Dylan's Blog.</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 blogpostintrotext">
                    <p>Hi, im Dylan and in this blog i cover a number of topics and provide guidance around some of the key areas of web design and development, cloud computing and technology.</p>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <% if(currentUser && currentUser.username == admin){ %>
                        <p><a class="btn btn-primary btn-lg" href="/blogposts/new">Add New Blog Post</a></p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
            <% blogposts.sort().reverse().forEach(function(blogpost){ %>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                        <img class="img-fluid" src="<%= blogpost.image %>">
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                        <h2><%=blogpost.name%></h2>
                        <p><em><span> <%= blogpost.created.toDateString() %> </span></p></em>
                        <p><%- blogpost.description.substring(0, 200) %>...</p>
                        <a class="btn btn-outline-primary" href="/blogposts/<%=blogpost._id %>" >Read More</a>
                    </div>
                </div>
                <div class="row">
                    <hr width="96%">
                </div>
            <% }); %>
    </div>    
</section>
  
    
<% include ../partials/footer %>
